# 数据库配置
SMILEYAN_BACKEND_DB_HOST=localhost
SMILEYAN_BACKEND_DB_USER=root
SMILEYAN_BACKEND_DB_PASSWORD=
SMILEYAN_BACKEND_DB_NAME=smileyan

# Redis 配置
SMILEYAN_BACKEND_REDIS_HOST=localhost
SMILEYAN_BACKEND_REDIS_USERNAME=
SMILEYAN_BACKEND_REDIS_PASSWORD=

# 邮箱配置
SMILEYAN_BACKEND_EMAIL_PASSWORD=

# JWT 配置
SMILEYAN_BACKEND_JWT_SECRET=